@model IEnumerable<Lab3.Models.NoteColaborators>
@{
    ViewData["Title"] = "SelectColaborations";
}
<h1></h1>

<p>Potential Error: @ViewBag.error</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.User)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.User)</td>
            </tr>
        }
    </tbody>
</table>