@model IEnumerable<Lab3.Models.NoteDetail>
@{
    ViewData["Title"] = "SelectWithDataReader";
}
<h1>All Notes</h1>

<p>Potential Error: @ViewBag.error</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>@Html.DisplayNameFor(model => model.Owner)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Content)</td>
                <td>@Html.DisplayFor(modelItem => item.Owner)</td>
            </tr>
        }
    </tbody>

</table>

